.logo {
	display: flex;
	align-items: center;

	h4 {
		font-family: 'Verdana', sans-serif;
		font-weight: 700;
		font-size: 34.62px;
		line-height: 42.07px;
		color: #2b3a4e;
		margin-left: 11px;
	}
	@media (max-width: 376px) {
		> img {
			width: 25px;
			height: 25px;
		}

		> h4 {
			font-size: 23.08px;
			line-height: 28.05px;
		}
	}
}
