.catalog {
	position: fixed;
	left: 0;
	top: 90px;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	display: none;

	&.show {
		display: block;
	}

	&__window {
		max-width: 100%;
		height: 60%;
		background: #fff;

		&__container {
			display: flex;
		}
	}
}
