.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	margin-top: 32px;

	&__buttons {
		display: flex;
		gap: 12px;

		> button {
			font-family: 'Inter', sans-serif;
			font-weight: 500;
			font-size: 12px;
			line-height: 16px;
			color: #7e8794;
			background: none;
			border: none;
			cursor: pointer;
			transition: all 0.3s ease-in-out;

			&.active {
				border-radius: 8px;
				padding: 4px 8px;
				background: #ff4d4d;
				color: #fff;
			}
		}
	}

	> span {
		font-family: 'Inter', sans-serif;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: #ff4d4d;
		cursor: pointer;
	}
}
