.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 55vh;

	.form {
		display: flex;
		flex-direction: column;
		gap: 40px;
		background: #f2f5f9;
		padding: 48px;
		width: 477px;
		border-radius: 12px;

		&__title {
			display: flex;
			justify-content: space-between;

			> span {
				font-weight: 600;
				font-size: 24px;
				line-height: 32px;
				color: #263141;
			}
		}

		> p {
			max-width: 381px;
		}
	}
}
