.filter {
	background: #fff;
	padding: 34px;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	> div > span {
		font-family: 'SF UI Display', sans-serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		color: #4f6786;
	}

	&__header {
		display: flex;
		justify-content: space-between;

		> div {
			width: 25px;
			height: 25px;
			background: #f6f7f9;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			margin-left: 315px;
		}
	}

	&__rating {
		&_blocks {
			display: flex;
			gap: 8px;
			margin-top: 16px;

			&_block {
				width: 78.8px;
				height: 34px;
				border-radius: 8px;
				background: #dfe4ea;
				cursor: pointer;
				transition: 0.2s ease-in;

				&.active {
					background: #38ae59;
				}
			}
		}
	}

	.items {
		&__items {
			display: flex;
			gap: 10px;
			margin-top: 10px;
		}
	}
}
