.button {
	padding: 16px 20px;
	border-radius: 8px;
	background: #ff4d4d;
	border: none;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	text-wrap: nowrap;

	&:hover {
		opacity: 0.8;
	}

	&:disabled {
		background: #f56c6c;
	}
}
