.column {
	> h4 {
		margin-bottom: 40px;
	}

	> div {
		border-bottom: 1px solid #dfe4ea;
		border-top: 1px solid #dfe4ea;
		padding: 20px 0;
		font-family: 'SF UI Display', sans-serif;
		font-size: 16px;
		line-height: 20px;
		color: #2b3a4e;
		cursor: pointer;

		&:not(:first-child) {
			border-bottom: none;
		}

		&:last-child {
			border-bottom: 1px solid #dfe4ea;
		}
	}
}
