.input {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	background: #f2f5f9;
	border: none;
	border-radius: 8px;
	padding: 14px 20px;
	outline: none;
	color: #000;
	min-width: 200px;

	@media (max-width: 394px) {
		max-width: 270px;
	}

	&::placeholder {
		color: #a1abb9;
	}
}
