.wrapper > div {
	overflow: hidden;

	> h4 {
		font-family: 'Inter', sans-serif;
		font-weight: 700;
		font-size: 40px;
		line-height: 58px;
		margin: 32px 0;
		color: #263141;
	}

	.filter {
		padding: 20px;
		background: #f5f7fa;
		border-radius: 12px;
		display: flex;
		flex-direction: column;

		@media (max-width: 600px) {
			padding: 10px;
		}

		&__title {
			display: flex;
			align-items: center;
			justify-content: space-between;

			> h4 {
				font-family: 'Inter', sans-serif;
				font-weight: 600;
				font-size: 24px;
				line-height: 32px;
			}

			> div {
				width: 25px;
				height: 25px;
				background: #fff;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
			}
		}

		.columns {
			display: flex;
			justify-content: space-between;
			margin-top: 32px;
			flex-wrap: wrap;
			transition: all 0.3s ease-in-out;
			transform: scale(0);

			@media (max-width: 600px) {
				gap: 5px;
			}

			.column {
				display: flex;
				flex-direction: column;
				gap: 32px;

				@media (max-width: 600px) {
					gap: 20px;
				}

				> div {
					h4 {
						font-family: 'Inter', sans-serif;
						font-weight: 600;
						font-size: 16px;
						line-height: 20px;
						color: #263141;
					}
				}

				.additionally {
					display: flex;
					flex-direction: column;
					gap: 20px;

					> div {
						display: flex;
						justify-content: space-between;
					}
				}
			}
		}
	}

	.products {
		margin-top: 52px;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}
