@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('../fonts/verdana/stylesheet.css');
@import url('../fonts/sf-ui-display/stylesheet.css');
@import url('../fonts/sf-pro-display/stylesheet.css');

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #0f1113;

	> main {
		flex: 1;
		padding: 15px;
		height: 100%;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

.toast__custom {
	margin-top: 100px;
}
